.banner-img img {
    transform: rotate(90deg);  
}

.banner {
    background-image: url(../images/home-banner.jpg);
    height: 40vw;
    background-size: cover;

    img {
        width: 90%;
        margin-top: 5%;
    }
}

.banner-wrap {
    width: 80%;
    margin: 0 auto;
}

