.wrapper-contact {
    margin: em(40) em(100);
    .main-heading {
        font-family: $title-font-heavy;
        font-weight: 500;
        font-size: em(100);
        margin-top: 0;
        line-height: 0.8;
        position: relative;

        .heading-1 {
            font-size: em(30, 48);
            position: absolute;
            top: em(10);
            left: em(10);
        }
    }
}

