.wrapper-contact {
    margin-left: em(200);
    margin-right: em(200);
    .main-heading {
        font-family: $title-font-heavy;
        font-weight: 500;
        font-size: em(120);
        margin-top: 0;
        line-height: 0.8;
        position: relative;
        margin-bottom: em(10);

        .heading-1 {
            font-size: em(30, 48);
            position: absolute;
            top: em(10);
            left: em(10);

        }

        @media (max-width: 600px) {
            font-size: em(100);
        }

    }
}

.contact-support {

    border: solid $borders-color 2px;
    margin-top: em(40);
    margin-bottom: 10%;
    background-color: $navbar-background;

    .sub-heading {

        font-family: $title-font-heavy;
        font-weight: 500;
        font-size: em(90);

        @media (max-width: 700px) {
            font-size: em(60);
        }

    }


    .sub-heading-flex {
        display: flex;
        padding: em(60);
        padding-bottom: 0;
        justify-content: space-between;
        

        .visit-us {
            text-align: right;

            h3 {
                margin: 0;
            }

            p {
                text-align: center;
                font-size: em(20);
                padding: em(5);
                line-height: 1.5;

            }

            @media (max-width: 1200px) {
        
                text-align: center;
                margin: 30px auto;
                
            }
        }

        .faqs {
            h2 {
                font-family:  $title-font-heavy;
                font-weight: 700;
                font-size: em(36);
                font-style: italic;
            }

            h3, p {
                margin: em(5);
            }

            button {
            width: 100px;
            height: 50px;
            background-color: $brand-color-black;
            color: white;
            font-size: 16px;
            text-align: right;
            margin: 0;
            margin-top: em(20);
            padding: 0;
        }


        @media (max-width: 1200px) {
        
            text-align: center;

            button {
                position: relative;
                left: 42%;
        }
        
        

        }
        
        
    
    }

    @media (max-width: 1200px) {
        display: block;
    }

    @media (max-width: 600px) {
        padding: 10px;
    }



}

.more-help {

    text-align: center;
    font-weight: 900;

    h3 {
    
        margin: 0;
        font-weight: 500;
    }

    h1 {
        font-size: 40px;
    }
}

}   


@media (max-width: 1200px) {

    .wrapper-contact {
        margin-left: 10%;
        margin-right: 10%;
    }


    }
