footer {
    ul {
        display: grid;
        list-style: none;
        font-size: 1.5vw;
        font-family: $title-font-heavy;
        font-weight: weight;
        width: 80%;
        margin: 0 auto;
        padding-bottom: 20px;
        grid-template-columns: repeat(20, 1fr);
        padding-left: 90px;

        .names-footer {
            grid-column: 1/8;
        }

        .back-top {
            grid-column: 10 / 14;
            
            a {
                color: black;
                text-decoration: none;
            }
        }

        .instagram {
            grid-column: 18;
        }

        .pinterest {
            grid-column: 19;
        }
    }
}