
.info {
    background-color: $navbar-background;
    border: 2px $borders-color solid;
   
.getintouch {
    resize: both;
    overflow: auto;
}

    input {
        width: 600px;
        line-height: 4em;
        background-color: $background-fill;
    }

    label {
        font-family: $title-font-heavy;
        font-weight: 500;
        font-size: em(30);
    }

    .form-email {
        margin-left: em(60);
        margin-top: em(60);

        @media (max-width: 950px) {
            margin: 30px;
        }
    }

    .form-username {
        margin-left: em(60);
        margin-top: em(30);
        @media (max-width: 950px) {
            margin: 30px;
        }
    }

    .form-comments {
        margin-left: em(60);
        margin-top: em(30);

        label {
            position: relative;
            bottom: em(10);
        }

        textarea {
            width: 600px;
            height: 60px;
            border: 2px $borders-color solid;
        }
         
        @media (max-width: 1350px) {
            

            label {
                position: relative;
                bottom: 0;
            }
            
        }
            @media (max-width: 1200px) {
            

            
           

            @media (max-width: 950px) {
                textarea {
                    width: 100%;
                }

                margin: 30px;
                

            }
            
        }
    
    
    
    }

    #receiveEmails {
        width: em(20);

    }
    .receiveEmails {
        color: black;
        font-size: em(7);
        position: relative;
        left: 350px;
        bottom: -80px;
        width: 400px;
        
    }
    .form-button {

        
        input {
            width: 250px;
            height: 80px;
            background-color: $brand-color-black;
            color: white;
            font-size: 30px;
            text-align: left;
            margin: 0;
            padding: 0;
            position: relative;
            left: 60px;
            bottom: -40px;  
        } 
        

        @media (max-width: 600px) {
            input {
                width: 150px;
                height: 60px;
                background-color: $brand-color-black;
                color: white;
                font-size: 22px;
                text-align: center;
                margin: 0;
                padding: 0;
                position: relative;
                left: 80px;
                bottom: -20px;  
            } 
        }

    }
}

@media (max-width: 1350px){

        label {
            display: block;
        }
        
        

        .form-comments,
        .form-username,
        .form-email {
            margin-right: em(60);

        }

}

@media (max-width: 950px) {

    .getintouch {

    input {
        width: 100%;
    }

     
    .receiveEmails {
        position: relative;
        top: 0;
        left: 30%;
    }

    @media (max-width: 600px) {
        .receiveEmails {
            position: relative;
            top: 0;
            left: 10%;
        }
    }


}

}