.info {
    background-color: $navbar-background;
    border: 3px black solid;


    input {
        width: 60%;
        line-height: 4em;
    }

    label {
        font-family: $title-font-heavy;
        font-weight: 500;
        font-size: em(18);
    }

    .form-email {
        margin-left: em(60);
        margin-top: em(60);
    }

    .form-username {
        margin-left: em(60);
        margin-top: em(30);
    }

    .form-comments {
        margin-left: em(60);
        margin-top: em(30);

        textarea {
            width: 60%;
            height: 60px;
        }

    }
}