.nav-wrap {

    .btn-menu {
        display: none;
    }

    .mobile {
        display: none;
    }
    
    nav {

    align-self: start;
    background-color: $navbar-background;
    position: relative;

    .rotation-box {
        transform-origin: left top;
        transform:rotate(-90deg) translateX(-100%);
    }

    ul {
        display: flex;
        flex-direction: row-reverse;
        margin-top: 0;
        list-style: none;
        padding: 0;
        // transform: rotate(270deg);
        float:left;
        line-height:90px;
        transform: translateX(-90%);
        background-color: $navbar-background;
        top: 0;

    }
    

    a {
        display: block;
        color: $brand-color-dark;
        text-decoration: none;
        font-family: $title-font-heavy;
        font-weight: 500;
        font-size: 1.3em;
        padding: 0 1.4vw;
        margin-right: 2vw;
    }

    .shopping a {
        transform:rotate(90deg);
        font-size: 2.5em;
    }

    a img {
        color: black;
    }

}

@media screen and (max-width: 850px){
    .mobile.show {
        display: flex;
        width: 100%;


        ul {
            width: 100vw;
            height: auto;
            z-index: 1100;
            list-style: none;
            text-align: center;
            background-color: rgba(0, 0, 0, 0.774);
            border: 5vw rgba(0, 0, 0, 0.37) solid;
            padding-left: 0;
            margin-top: 70px;

            li {
                padding: 20px 0;
                a {
                    color: $background-fill;
                    text-decoration: none;
                    font-family: $title-font-heavy;
                    font-weight: 500;
                    font-size: 1.5em;
                }
            }
        }
    
    }

    nav .rotation-box {
        display: none;
    }

    .nav-wrap {
        position: absolute;
    }

    
        
    .btn-menu {
        display: block;
        background-color: rgba(0, 0, 0, 0.774);
        border: none;
        font-size: 1.3rem;
        color: white;
        text-transform: uppercase;
        line-height: 50px;
        position: absolute;
        top: 0;
        left: 0;
        margin: 0;
        z-index: 1000;
        width: 70px;
    }

    

    


}

button:focus {outline:0;}


.rectangle {
    height: 60px;
    width: 45px;
    background-color: $navbar-background;
  }
}



/* 




.main-nav {
  width:100vh;    
  height:45px;
  position:fixed;
  background:#4c4c4c;
  -webkit-transform-origin: left top;
  -webkit-transform:rotate(-90deg) translateX(-100%);
}
ul.nav li {    
  margin-right:20px;
  float:right;
  height:100%;
  line-height:45px;
}
*/



