.container-products {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 60px;

    .products-bg {
        width: 70%;
    }

    header {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(6, 2vw);

        svg {
            width: 100%;
            grid-column: 1 / 5;
            grid-row: 1 / 5;
            height: 100%;
            border: 2vw $navbar-background solid;
            border-top: none;
        }

        h2 {
            padding: 20px;
            font-size: 3vw;
            grid-column: 1 / 5;
            grid-row: 1 / 5;
            border-top: none;
            font-family: $title-font-heavy;
            font-weight: 500;
            text-align: center;
        }

        h1 {
            grid-column: 4 / 9;
            grid-row: 2;
            font-size: 8vw;
            font-family: $title-font-heavy;
            font-weight: 700;
            a {
                text-decoration: none;
                color: black;
            }
        }

        article {
            display: grid;
            grid-template-columns: repeat(8, 1fr);
            grid-template-rows: repeat(6, 2vw);

        }


    }
    
}

.products-content {
    position: relative;
}

.products-info {
    width: 600px;
    background-color: $navbar-background;
    position: absolute;
    top: 20%;
    right: 0;
    height: 45vw;
    padding: 50px;
    font-family: $title-font-heavy;

    h3 {
        font-weight: 700;
        font-size: 4vw;
        margin: 0 0 25px 0;
    }

    p {
        font-weight: bold;
        padding: 0;
        margin: 0 0 25 0;
    }

    h4 {
        font-size: 2.6vw;
        font-weight: 500;
        margin: 25px 0 25px 0;
    }

    .product-info-list {
        background-color: $background-fill;
        padding: 20px;
        padding-right: none;
        padding-bottom: 30px;
        margin-right: -50px;
        margin-left: 50px;

        p {
            font-weight: 500;
            font-size: 1.5vw;
            line-height: 1.5;
            width: 80%;

        }
    }

}
button {
    background-color: $brand-color-dark;
    padding: 20px;
    color: white;
    font-size: 2em;
    border: none;
    font-family: $title-font-heavy;
    font-weight: 600;
    display: block;
    margin-left: 50%;
    margin-top: 30px;
    .add{
        font-size: 1.2vw;
        text-align: left;
        font-weight: 300;
    }
}