.container-products {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 60px;

    .products-bg {
        width: 70%;
    }

    header {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(6, 2vw);

        svg {
            width: 100%;
            grid-column: 1 / 5;
            grid-row: 1 / 5;
            height: 100%;
            border: 2vw $navbar-background solid;
            border-top: none;
        }

        h2 {
            padding: 20px;
            font-size: 3vw;
            grid-column: 1 / 5;
            grid-row: 1 / 5;
            border-top: none;
            font-family: $title-font-heavy;
            font-weight: 500;
            text-align: center;
        }

        h1 {
            grid-column: 4 / 9;
            grid-row: 2;
            font-size: 8vw;
            font-family: $title-font-heavy;
            font-weight: 700;
            a {
                text-decoration: none;
                color: black;
            }
        }

        article {
            display: grid;
            grid-template-columns: repeat(8, 1fr);
            grid-template-rows: repeat(6, 2vw);

        }


    }
    
}

.products-content {
    position: relative;
}

.products-info {
    width: 600px;
    background-color: $navbar-background;
    position: absolute;
    top: 20%;
    right: 0;
    height: 60%;
    padding: 50px;
    font-family: $title-font-heavy;

    h3 {
        font-weight: 700;
        font-size: 4vw;
        margin: 0 0 25px 0;
    }

    .reviews {
        display: flex;
        align-items: center;

        ul {
            display: flex;
            list-style: none;
            margin-left: 10px;
            padding-left: 0px;

            a {
                font-size: 1em;

            }
        }
    }

    p {
        font-weight: bold;
        padding: 0;
        margin: 0 0 25 0;
    }

    h4 {
        font-size: 2.6vw;
        font-weight: 500;
        margin: 25px 0 25px 0;
    }

    .product-info-list {
        background-color: $background-fill;
        padding: 20px;
        padding-right: none;
        padding-bottom: 30px;
        margin-right: -50px;
        margin-left: 50px;

        ul {
            margin-top: 0px;
            margin-bottom: 0px;
        }

        p {
            font-weight: 500;
            font-size: 1.25vw;
            line-height: 1.5;
            width: 80%;
            font-style: italic;
        }
    }

}
button {
    background-color: $brand-color-dark;
    padding: 20px;
    color: white;
    font-size: 2em;
    border: none;
    font-family: $title-font-heavy;
    font-weight: 600;
    display: block;
    margin-left: 50%;
    margin-top: 30px;
    .add{
        font-size: 1.2vw;
        text-align: left;
        font-weight: 300;
    }
}

@media (max-width: 1200px){

    header {
        margin-left: 40px;
        h2 {
            padding-top: none;
        }
    }
    .container-products {
        width: 80%;
        margin-bottom: 10vw;

        .products-bg {
            width: 100%;
            height: 100%;
        }
        .products-info {
            width: 80%;
            margin-top: 10%;
            position: absolute;
            right: 50%;
            transform: translateX(50%);
            
            .product-info-list {
                width: 100%;
                margin: 0 auto;
                position: relative;
                
                p {
                    font-size: 2vw;
                }
            }
        }
    }
    button {
        padding: 10px;
        font-size: 1.5em;
        position: relative;
        margin-top: 0;   
    }

}

@media (max-width: 850px) {
    .container-products {
        width: 90%;
    }

    footer {
        ul {
            width: 90%;
            margin: none;
            padding: 0;
            padding-bottom: 15px;
        }
        
    }
}

@media (max-width: 585px) {
    header {
        height: 70px;
        display: block;
        
        h2 {
            display: none;
        }

        svg {
            display: none;
        }

        h1 {
            width: 80%;
            line-height: 70px;
            font-size: 4vw;
        }
    }

    .container-products {
        margin-bottom: 35vw;
        width: 100%;
        margin-left: 0;
        header {
            display: block;
            margin-left: 80px;
        }

        .products-info {
            width: 100%;
            padding: 10px;

            h3 {
                margin: 10px;
                font-size: 1.75em;
            }

            .reviews {
                margin: 10px;
            }

            h4 {
                font-size: 1.3em;
                margin-left: 10px;
            }

            .product-info-list {
                width: 100%;
                padding: 10px;
                position: relative;
                
                p {
                    font-size: 0.8em;
                    line-height: 2;
                }
            }
        }
    }
}

